export AWS_PROFILE=awsprofile.wmcdonald404.sharedsvc
AWS_ACCOUNT=$(aws sts get-caller-identity | jq -r .Account)
AWS_ENV=sharedsvc
AWS_REGION=eu-west-1
export TF_VAR_aws_account=$AWS_ACCOUNT
export TF_VAR_aws_env=$AWS_ENV
export TF_VAR_aws_region=$AWS_REGION

env_vars_required AWS_ACCOUNT
if [$?]
then
  echo "Run: aws sso login --no-browser"
fi
